[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-orca = ">=1.3.0"
pandas = "~=2.0.0"
s3fs = "~=2023.5"
metaflow = "~=2.9"
fs-synapse = "~=1.0"



[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
